[Unit]
Description=Intelligent Input Bus
PartOf=graphical-session.target
Requires=dbus.service
After=dbus.service

[Service]
ExecStart=/usr/bin/ibus-daemon -rx

[Install]
WantedBy=graphical-session.target
